div[id^='div'] {
  visibility: visible !important;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}

#viewerProgress {
  visibility: hidden;
  width: 100vw;
  height: 10px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: -3px;
  left: 0;
}

#viewerNavigationDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 85px;
}

#viewerCanvas {
  width: 100vw;
  height: 100vh;
  background-color: rgb(204, 204, 204);
  border: 1px solid gray;
  outline: none;
  touch-action: none;
}

#levelsAndCameras {
  visibility: hidden;
}